
body {
  margin: 0;
  background: 
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 40%, transparent 80%),
    url('imgs/background/background.png') no-repeat center center;
  background-size: cover;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
#navbar {
  transition: opacity 0.4s ease-out;
}
#navbar.fast-transition {
  transition: opacity 0.1s ease-out;
}

/* Hero section */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* This ensures content starts below navbar */
#content-start {
  padding-top: 5rem; /* matches navbar height */
}