
body {
  margin: 0;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
#navbar {
  transition: opacity 0.4s ease-out;
}
#navbar.fast-transition {
  transition: opacity 0.1s ease-out;
}

/* Hero section */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* This ensures content starts below navbar */
#content-start {
  padding-top: 5rem; /* matches navbar height */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-left: 1px solid #2c2c2c;
}

body::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 6px;
  border: 2px solid #1e1e1e;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

